.banner h1, .banner h3{
	color: white;
}

.search-bar-banner{
	margin: 350px auto;
	max-width: 100%;
}

.search-banner{
	display: flex;
	justify-content: space-between;
	width: 80%;
}

.btn-search{
	background-color: #fcb542 !important;
	color: white !important;
	border: none !important;
}

.btn-search:hover {
	background-color: white !important;
	color: #fcb542 !important;
}

.btn-outline-success{
	color: white !important;
	border-color: #fcb542 !important;
	background-color: #fcb542 !important;
}

.btn-outline-success:hover{
	color: #fcb542 !important;
	border-color: #fcb542 !important;
	background-color: white !important;
}

.navbar{
	position: fixed !important;
	z-index: 1;
	width: 100%;
}

.nav-link:hover{
	font-weight: bold;
}

.dropdown-menu .dropdown-item:hover{
	background-color: grey;
	color: white;
}

.card-title{
	padding-bottom: 20px;
	text-align: center;
}

.card-img-top{
	width: 350px;
	height: 200px;
}

.card-body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card-body h5{
	border-bottom: 2px solid #fcb542;
	width: 100%;
	padding-bottom: 10px;
}

.destination-hasard{
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.destination-hasard .card2{
	margin-top: 30px;
}

.icon-flex{
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-flex .fas{
	background: linear-gradient(45deg, #fcb542 0%, #ffea00 100%);
	-webkit-background-clip: text;
	color: transparent;
	text-decoration: none;
	font-size: 3em;
}

.fas{
	font-size: 60px;
	padding: 20px;
	color: green;
}

.fab{
	font-size: 15px;
}

.card{
	margin: 60px auto 100px auto;
	box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, .2);
	width: 300px;
	height: 250px;
}

.logo{
	width: 100px;
}

.dropdown-toggle{
	color: black !important;
}

.container{
	width: 100%;
	margin: auto;
	margin-top: 50px;
}

footer{
	width: 100%;
	margin: auto;
	padding: 20px 0px;
	height: auto;
	background-color: grey;
}

footer img{
	width: 100px;
}

.container-footer{
	display: flex;
	justify-content: space-around;
	width: 80%;
	margin: auto;
}

.presentation-site-footer, .liens-utiles-footer, .reseaux-sociaux-footer, .find-us-footer{
	width: 18%;
	margin-top: 20px;
	color: white;
}

.presentation-site-footer img{
	margin-bottom: 10px;
}

footer h2{
	font-size: 1.4em;
	border-bottom: 4px solid white;
	padding-bottom: 10px;
	width: 100%;
}

.reseaux-sociaux-footer ul{
	display: flex;
	align-items: center;
	justify-content: center;
}

.reseaux-sociaux-footer li{
	list-style-type: none;
	padding: 20px 40px 20px 0;
}

.reseaux-sociaux-footer a{
	color: white;
}

.reseaux-sociaux-footer a:hover{
	color: white;
}

.reseaux-sociaux-footer li .fab{
	font-size: 3em;
}

.liens-utiles-footer li{
	list-style-type: none;
	line-height: 40px;
	margin-left: -40px;
}

.liens-utiles-footer a{
	color: white;
}

.liens-utiles-footer a:hover{
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.rainbow-txt-hover:hover{
	background: linear-gradient(45deg, #ffbf36 0%, #ffea00 100%);
	-webkit-background-clip: text;
	color: transparent;
	text-decoration: none;
	color: transparent;
}

.rainbow-txt{
	background: linear-gradient(45deg, #ffbf36 0%, #ffea00 100%);
	-webkit-background-clip: text;
	color: transparent;
	text-decoration: none;
}

.findus{
	display: flex;
	align-items: center;
}

.fa-map-marker-alt{
	color: white;
	font-size: 2em;
}

.findus h4{
	font-size: 1.2em;
}

.contact{
	margin-top: 20px;
}

.contactbutton{
	font-weight: bold;
	text-align: center;
}

.contactbutton:hover{
	background: linear-gradient(45deg, #ffbf36 0%, #ffea00 100%);
	-webkit-background-clip: text;
	color: transparent;
	text-decoration: none;
	font-size: 1.3em;
	transition: all 0.2s ease-out;
}

.banner{
	background-image: url("../images/hero-banner.jpg") !important;
	background-color: rgba(0, 0, 0, 0.9);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.shadow{
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
}

.shadow first-child{
	margin-top: 50px;
}

.banner input{
	width: 600px !important;
}

span .fas{
	color: red;
	font-size: 15px;
	margin: -10px;
}

.titre{
	display:flex;
	justify-content: center;
	align-items: center;
}

.card2{
	width: auto;
	max-width: 350px;
	border: 1px solid lightgrey;
	margin: 90px auto 30px auto;
}

.logements-h1{
	margin-top: 120px !important;
	color: black;
	text-align: center;
}

.row{
	margin: 0px !important;
}

.appart-bann-hyrule{
	background-image: url(../images/castle02.png);
}

.appart-bann-cocorico{
	background-image: url(../images/cocorico3.jpg);
}

.appart-bann-hyrule, .appart-bann-cocorico{
	background-repeat: no-repeat;
	background-size: cover;
	width: 80%;
	margin: auto;
	height: 500px;
}

.container-appart{
	margin: auto !important;
	width: 80%;
	text-align: justify;
}

h2 p{
	text-align: justify;
	width: 100%;
}

.card-flex{
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.card-flex p{
	text-align: center;
}

.strike{
	text-decoration: line-through;
	font-size: 0.6em;
}

.badge-secondary{
	text-transform: uppercase !important;
	background-color: #abf246 !important;
}

.logement-coeur{
	margin-top: 30px;
	padding: 20px;
	border-radius: 15px;
	background-color: white;
	width: 300px;
}

.logement-coeur h3{
	font-size: 1em;
}

.logement-coeur-bg{
	background-color: #fcb542;
	width: 100%;
	border-radius: 15px;
	display: flex;
	justify-content: space-around;
	padding-bottom: 30px;
}

.logement-coeur div{
	display: flex;
	width: 100%;
}

.fa-heart{
	font-size: 1em;
	color: red;
}

.btncenter{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

h2{
	margin-top: 50px !important;
}

footer h2{
	margin-top: 10px !important;
}

.mr-3{
	width: 60px;
}

.media-1{
	width: 40%;
	margin-right: 30px;
	margin: 30px auto;
	padding: 10px;
	border-radius: 15px;
	box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, .2);
}

@media (max-width: 991px){
	.container-footer{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 80%;
	margin: auto;
}
.presentation-site-footer, .liens-utiles-footer, .reseaux-sociaux-footer, .find-us-footer{
	width: 80%;
	margin-top: 20px;
	color: white;
}
.presentation-site-footer{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logement-coeur-bg{
	flex-direction: column;
	padding: 0px;
}

.logement-coeur{
	width: 80%;
	margin: 20px auto;
}

.media-1{
	width: 80%;
	margin-right: 30px;
	margin: 30px auto;
	padding: 10px;
	border-radius: 15px;
	box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, .2);
}

.destination-hasard{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.destination-hasard .card2{
	width: 100%;
}

.card{
	margin: 20px auto;
}
}